.employee-benefits {
    font-family: 'Roboto', sans-serif;
}

.employee-benefits
#title {
    font-size: 30px;
}

.employee-benefits
.total-payout {
    font-size: 20px;
    font-weight: 200;
}

.employee-benefits
.green {
    color: #69F0AE;
}

.employee-benefits
.red {
    color: 'red';
}